build/
devel/
log/
install/
mesh/
data/captions
data/IRef-VLA
ai_module/src/captioner/captioner/crops
**/.vscode/**
**/__pycache__/**
.catkin_workspace
*.pkl
*.pth
*.bag
*.zip
semantic_mapping/
cropped_scenes/
logs/
sr3d.csv
